.login_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cutewallpaper.org/25/animated-forest-wallpaper-gif/tagcategory-animated-wallpaper-shape-your-computer-beautifully.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .form_container {
        width: 400px;
        height: auto;
        border: 1px double white;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        padding: 2rem;

        ._login {
            color: #fff;
            font: normal normal bolder 40px OpenSans-Bold;
            letter-spacing: 10px;
        }

        .user_name_container {
            border-bottom: 1px solid #fff;
            position: relative;
            height: 40px;
            margin: 30px 0 0;
            transition: .5s;

            .placeholder {
                color: #fff;
                position: absolute;
                bottom: 10%;
                left: 5px;
                transition: .5s;
                pointer-events: none;
            }

            ._user_name {
                outline: none;
                border: none;
                background: transparent;
                color: #fff;
                width: 100%;
                height: 100%;
                z-index: 10;
            }

            ._user_name:focus~.placeholder {
                bottom: 80%;
            }
        }

        ._forgot_password {
            font: normal normal bold 14px OpenSans-Regular;
            color: #fff;
            letter-spacing: 1px;
            cursor: pointer;
            margin-top: 16px;
            float: right;
            margin-right: 1rem;
        }

        ._forgot_password:hover {
            color: lightseagreen;
        }

        ._btn_container {
            display: flex;
            gap: 20px;
            align-items: center;
            width: 100%;
            height: 40px;
            justify-content: center;
            margin-top: 1rem;

            button {
                min-width: 112px;
                width: fit-content;
                height: 100%;
                background: transparent;
                border: 1px double lightseagreen;
                color: lightseagreen;
                font: normal normal bold 12px OpenSans-Semibold;
                letter-spacing: 1px;
                border-radius: 8px;
            }

            button:hover {
                background: lightseagreen;
                color: #fff;
            }

            div {
                font: normal normal bold 12px OpenSans-Semibold;
                color: #fff;
                letter-spacing: 3px;
            }
        }

    }
}