.TicTacToe_wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.TicTacToe_bord_container {
    width: 340px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 20px 40px rgba(202, 63, 63, 0.5);
    border-radius: 8px;
}

.TicTacToe_bord_container_card {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(26, 25, 25, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    font: normal 600 50px OpenSans-Bold;
}

.TicTacToe_bord_container_card:hover {
    box-shadow: 0 5px 10px rgba(55, 155, 158, 0.5);
}

.TicTacToe_bord_container_card:active {}

.img_conti {
    background: url('../../../../public/images/download.jfif');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text_with_img {
    font-size: 10rem;
    font-weight: 900;
}