.recharts-rectangle {
    background: linear-gradient(top, blue, red);
}

:root {
    --blue: blue
}

.card_Boxess {
    padding-bottom: 1rem;
}

.card_heade {
    width: 100%;
    height: 3rem;
    font: normal bold 20px OpenSans-Bold;
    color: var(--blue);
    display: flex;
    place-items: center;
}